html{

	height: 100%;
}
body{

	height: 100%;
}
/*--------------------------------------------BODY--------------------------------------------*/
.body{
	/*height: 100%;*/
	color:white;
}

.content h1{
	color:white;
}

.rennaissance {
    background: url("images/renaissance-bg-blur.jpeg") no-repeat top right fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;

}

.evolution{
	background: url("images/evolution_renaiss.png") no-repeat;
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	background-size: contain;
	background-position: center center;
	height: 300px;
/*	width:70%;
	height: 300px;*/
/*	
	width : 70%;
	margin: auto;
	height: 300px;*/
}

button.largeButton{
	width:70%;
	max-width: 70%;
}



.button--pipaluk.button--inverted::before.largeButton{
    border-color: #E8E1D9;
}


/*--------------------------------------------SIGNIN--------------------------------------------*/
.signin{
	background: url("images/bg-signin.png") no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:900px;
	padding-top:100px;
}

.contentform{
	width: 50%;
	background-color: rgba(255,255,255,0.9);
	margin-left : auto;
	margin-right:auto;
	text-align: center;
	padding:40px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


p.info{
	font-size:.8em; 
	width: 100%; 
	text-align: center;
}

.logo{
	max-width: 100%;
}

/*--------------------------------------------SIGNIN MODAL-------------------------------------------*/
h1.welcome{
	color :#a10f48;
}

img.mentor{
	align:left;
}





















