<div ng-controller='mainController' class='mainPage' ng-style="{'background':'url(images/familles/'+ backgroundUrl +') no-repeat top left fixed', 'background-size':'cover'}">



	<section class="content contentMain">
		<img class="logoMain" src="images/logo_artips_noBL.png"/>
		<h1 class="main">PROGRAMME AMBASSADEUR</h1>
		<h2 class="main">{{user.firstName}} {{user.lastName}}</h2>

		<div class="whiteBox">
			<div class="evolution" ng-style="{'background':'url(images/evolution/'+ imageUrl() +') no-repeat', 'background-size':'contain', 'background-position': 'center center', 'height':'300px', 'border-radius':'15px'}">
			</div> 
		</div>
		<div class="legendEvolution">Faîtes évoluer votre personnage en parrainant vos amis.</div></br>
		
		<md-button class="pinkButton md-raised" ng-click="showRecosModal()">RECOMMANDER ARTIPS </md-button>

		<md-content class="md-padding noBackGround" layout="row" layout-xs="column">
			<div class="cardMain" flex>
				<span class="md-headline">Vous avez parrainé {{user.recos}} personnes. </span>
				<p>Profitez de plus en plus d'archives Artips et de vidéos Artips en parrainant vos amis.</p>
				<md-button class="md-raised" href="https://artips.eu/Melissa/archives/#/main/home" target="_blank">VOIR LES ARCHIVES</md-button>
	         	<md-button class="md-raised" href="https://vimeo.com/organizer " target="_blank">VOIR LES VIDEOS</md-button>
			</div>
			<div class="cardMain" flex>
				<span class="md-headline">Vous avez récolté {{user.tipsous}} Tipsous.</span>
				<div class="md-media-xl card-media">
					<img class="md-card-image tipsousImg" src="images/tipsous.png"/>
				</div>
				<p>Gagnez des Tipsous et allez les dépenser dans la boutique Artips. Chaque parrainage vous rapporte un Tipsou.</p>
		        <md-button class="md-raised" ng-click="showShopModal()">VOIR LA BOUTIQUE</md-button>
		        	
			</div>
		</md-content>

	<p href class="pull-right reglementation">Modalités du programme ambassadeur</p>
	</section>




</div>

