<div id="custom-modal">
	<div id="overlay" class="recos">
		<a href ng-click="close()" class="pull-right"> X</a>
		<h1 class="shop">Recommandez Artips</h1>

		<h4>Partagez Artips sur les mails de vos amis</h4>
		<form id="ajaxform" class="registerForm form block_content_form" ng-submit="">
			<md-input-container class="md-block">
				<label>Email 1</label>
				<input type="mail" required name="email1" ng-model="">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Email 2</label>
				<input type="mail" name="email2" ng-model="">
			</md-input-container>

 			<md-button type="submit" class="md-raised pull-right">Envoyer !</md-button>
		</form>

</br></br></br>
		<hr>

		<h4>Partagez Artips sur les réseaux sociaux</h4>
		<md-button class="facebook" href={{hrefFacebook}}>
			PARTAGEZ ARTIPS SUR FACEBOOK
		</md-button>
		</br>
		<md-button class="twitter" href={{hrefTwitter}}>
			PARTAGEZ ARTIPS SUR TWITTER
		</md-button>


    	
		</br>


		
	</div>
	<div id="fade"></div>
</div>Ò